{% extends 'base.html.twig' %}
{% block headTitle %}{{ website.name }}{% endblock %}
{% block body %}

    <div class="b-channel">
        <h1>{{ page.name }}</h1>
        {{ page.description|raw }}
    </div>

{% endblock %}