{% if comments is not empty %}
    <div class="b-comments" >
        {% for comment in comments %}
            <div class="b-comment">
                {{ comment.createdAt|date("d.m.Y") }} - {{ comment.text }}
            </div>
        {% endfor %}
    </div>
{% endif %}