HTML { 	height: 100%; }

BODY {
    margin: 0;
    font-family: Roboto;
    font-size:1em;
    color: #494c43;
    font-weight: normal;
    height: 100%;
    background-color: #f7f8f9;
}

FORM { margin: 0; 	padding: 0; }

TABLE {
    border-spacing: 0;
    padding: 0;
    border-collapse: collapse;
}

TD,TH {
    padding: 0;
}

IMG { border: 0; }

a { color:#c30d1b; }
a:hover { color:#f31a2b; }

.b-head, .b-menu {
    max-width:1200px; margin:0 auto;
}

.b-head {
    height: 10em;
    border-bottom: 1px solid #1f1f1f;
    background-position: center center;
    background-image: url("https://corporatetubeprod.blob.core.windows.net/assets/1/header.jpg");
}

.b-head .e-title {
    color: #FFF;
    font-size: 3em;
    padding: 1em;
    display: block;
    text-decoration: none;
}

.b-menu {
    background-color: #FFF;
    padding: 1em 0;
}

.b-menu:after {
    content:'';
    display: block;
    clear: both;
}

.b-menu .e-item_left {
    float: left;
    margin-left: 1em;
}


.b-menu .e-item_rigth {
    float: right;
    margin-right: 1em;
}

.b-body {
    max-width:1200px; margin:0 auto;
}

.b-videos {

}

.b-videos:after {
    content:'';
    display: block;
    clear: both;
}

.b-videos .b-video {
    float: left;
    width: 18%;
    margin: 0 2% 2% 0;
}

.b-videos .b-video:nth-child(5n - 4) {
    content:'';
    display: block;
    clear: both;
}

.b-video {
    display: block;
}

.b-video:after {
    content: '';
    display: block;
    clear: both;
}

.b-video .e-thumbnail {
    display: block;
}

.b-video .e-thumbnail img {
    max-width: 100%;
    max-height: 6em;
}

.b-videoBig {
    display: block;
    background-color: #FFF;
    padding: 1em;
}

.b-videoBig:after {
    content:'';
    display: block;
    clear: both;
}

.b-videoBig h1 { margin: 0 0 1em 0; padding: 0; }

.b-videoBig .e-player {

}

.b-videoBig .e-description {
    margin-top: 1em;
}

.b-videoBig .e-setStartVideo {
    float: right;
    margin-right: 1em;
}

.b-channels {
}

.b-channel {
    background-color: #FFF;
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #f3f3f3;
}

.b-channel .e-channelName {
    margin: 0 0 1em 0;
    padding: 0;
}
.b-channel .e-channelName a {
    color: #333; text-decoration: none;
}

.b-commentForm {
    background-color: #FFF;
    padding: 1em;
}

.b-commentForm textarea {
    display: block;
    width:100%;
    max-width: 30em;
    height: 5em;
}

.b-comments {
    background-color: #FFF;
    padding: 1em;
}

.b-comments .b-comment {
    padding: 1em;
}

.e-rating {
    float: right;
}

.e-rating .e-value {
    display: block;
    height: 1.5em;
    float:left;
}

.e-rating .e-like, .e-rating .e-dislike  {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('/images/thumbs-up.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
    margin-left: 1em;
}

.e-rating .e-dislike {
    background-image: url('/images/thumbs-down.png');
}

.e-favorite {
    float: right;
    margin-right: 1em;
}

.e-favorite .e-add, .e-favorite .e-remove {
    display: block;
    width: 1.5em;
    height: 1.5em;
    background-image: url('/images/star_white.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float:left;
    margin-left: 1em;
}

.e-favorite .e-remove {
    background-image: url('/images/star.png');
}

.b-videoForm {
    display: block;
    background-color: #FFF;
    padding: 1em;
    margin: 1em 0;
}

.b-videoForm:after {
    content:'';
    display: block;
    clear: both;
}

.b-videoForm .e-form div {
    margin-bottom: 1em;
}

.b-videoForm .e-left {
    float: left;
    width: 35%;
}
.b-videoForm .e-right {
    float: left;
    width: 65%;
}


.b-thumbnails {

}

.b-thumbnails:after {
    content:'';
    display: block;
    clear: both;
}

.b-thumbnails .e-thumbnail {
    float: left;
    width: 30%;
    margin: 0 1%;
}

.b-thumbnails .e-thumbnail img {
    max-width: 100%;
}

.b-relatedVideos {
    padding: 2em;
}

.b-relatedVideos:after {
    content:'';
    display: block;
    clear: both;
}

.b-videoPage .b-videoBig, .b-videoPage .b-relatedVideos, .b-mainPage .b-videoBig, .b-mainPage .b-relatedVideos {
    float:left;
    margin: 1em 0;
    box-sizing: border-box;
}

.b-videoPage .b-videoBig, .b-mainPage .b-videoBig {
    width: 68%;
    margin-right: 2%;
    max-width: 800px;
}

.b-videoPage .b-relatedVideos, .b-mainPage .b-relatedVideos {
    width: 30%;
    background-color: #FFF;
}

.b-relatedVideos .b-videos .b-video {
    float: none;
    width: 100%;
    margin-bottom: 3%;
}

.b-relatedVideos .b-videos .b-video .e-thumbnail, .b-relatedVideos .b-videos .b-video .e-name {
    float: left;
    width: 48%;
}

.b-relatedVideos .b-videos .b-video .e-thumbnail {
    margin-right:4%;
}

.clear {
    display: block;
    clear: both;
}

.b-form {
    width: 400px;
}

.b-form .e-row {
    width: 100%;
    margin-bottom: 1em;
}

.b-form .e-row input {
    width: 100%;

}