{% extends '@SonataAdmin/standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        /* button[name="btn_create_and_edit"] { border: 1px solid #F00; } */
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/tinymce/tinymce.min.js') }}"></script>
    <script type="text/javascript">
      /*<![CDATA[*/
      jQuery(function($) {
        tinymce.init({
          mode : "textareas",
          editor_selector : "mceAdvanced",
          height: '400',
          convert_urls : false,
          relative_urls : false,
          cache_suffix: '?v=0.1.0',
          language : 'en',
          plugins: 'code, media, link, table, image, imagetools',

        });

        tinyMCE.init({
          mode : "textareas",
          editor_selector : "mceAdvanced",
          convert_urls : false,
          relative_urls : false,
          content_css : '/css/main.css',
          cache_suffix: '?v=0.1.0',
          language : 'ru',
        });
      });
      /*]]>*/
    </script>
{% endblock %}