{% block user_block %}
    {% if app.user %}
        <li class="user-footer">
            <div class="pull-left">
                {{ app.user.email }}
            </div>
            <div class="pull-right">
                <form action="{{ path('app_logout') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}"/>
                    <button type="submit" class="btn btn-primary">logout</button>
                </form>
            </div>
        </li>
    {% endif %}
{% endblock %}