{% set ct = object.homeChannels.count() %}
<a class="btn btn-sm btn-default"
   href="{{ path('admin_app_website_website_homechannel_list', {'id': object.id }) }}"
>{{ 'Home Channels'|trans }}{% if ct > 0 %} ({{ ct }}){% endif %}</a>