{% set ct = object.menu.count() %}
<a class="btn btn-sm btn-default"
   href="{{ path('admin_app_website_website_menu_list', {'id': object.id }) }}"
>{{ 'Menu'|trans }}{% if ct > 0 %} ({{ ct }}){% endif %}</a>