{% set ct = object.channels.count() %}
<a class="btn btn-sm btn-default"
   href="{{ path('admin_app_website_channel_list', {'id': object.id }) }}"
>{{ 'Channel'|trans }}{% if ct > 0 %} ({{ ct }}){% endif %}</a>