{% if videos is not empty %}
    <div class="b-videos" >
        {% for video in videos %}
            <div class="b-video">
                <a href="{{ url('video', { 'extId': video.extId, 'channelId': channel is defined ? channel.extId : null }) }}" class="e-thumbnail"><img src="{{ video.thumbnail ? video.thumbnail.url : '' }}" ></a>
                <div class="e-name">{{ video.name }}</div>
                {% if editable is defined %}
                    <a href="{{ url('videoUpdate', {'extId': video.extId }) }}" class="e-edit">Edit</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endif %}