{% if video %}
    <div class="b-videoBig">
        <h1>{{ video.name }}</h1>

        <div id="player_container" class="e-player"
             mi24-video-player
             video-id="{{ video.extId }}"
             player-id="{{ video.playerId }}"
             config-type="vmpro"
             flash-path="//e.video-cdn.net/v2/"
             token="{{ video.token }}"
             api-url="//d.video-cdn.net/play">
        </div>

        <div class="e-description">
            {{ video.description }}
        </div>

        {% if video.website.feature.isRating %}
            <div class="e-rating">
                <div class="e-value">rating: {{ video.rating }}</div>
                <a href="{{ url('rating', {'extId': video.extId, 'value': 'dislike' }) }}" class="e-dislike"></a>
                <a href="{{ url('rating', {'extId': video.extId, 'value': 'like' }) }}" class="e-like"></a>
            </div>
        {% endif %}

        <div class="e-favorite">
            {% if isFavorite is defined and isFavorite %}
                <a href="{{ url('removeVideoFromFavorite', {'extId': video.extId}) }}" class="e-remove"></a>
            {% else %}
                <a href="{{ url('addVideoToFavorite', {'extId': video.extId}) }}" class="e-add"></a>
            {% endif %}
        </div>

        <div class="e-setStartVideo">
            {% if video.isStartWebsite %}
                <a href="{{ url('resetStartWebsiteVideo', {extId:video.extId}) }}">Remove start video</a>
            {% else %}
                <a href="{{ url('setStartWebsiteVideo', {extId:video.extId}) }}">Set start video</a>
            {% endif %}
        </div>
    </div>
{% endif %}