{% extends 'base.html.twig' %}
{% block headTitle %}{{ website.name }}{% endblock %}
{% block body %}

    <div class="b-videoForm">
        {{ form_start(form) }}
        <div class="e-left e-form">
            {{ form_rest(form) }}
        </div>
        <div class="e-right">
            {% if video is defined and video and video.thumbnails is not empty %}
                <div class="b-thumbnails">
                {% for thumbnail in video.thumbnails %}
                 <div class="e-thumbnail">
                     <input type="radio" name="form[thumbnailId]" value="{{ thumbnail.id }}" id="thumbnail{{ thumbnail.id }}">
                     <label for="thumbnail{{ thumbnail.id }}">
                        <img alt="" src="{{ thumbnail.url }}">
                     </label>
                 </div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}