{% extends 'base.html.twig' %}
{% block headTitle %}{{ website.name }}{% endblock %}
{% block body %}

    <div class="b-videoPage">

        {{ include('video/_videoBig.html.twig') }}

        {% if video.website.feature.isRelatedVideos %}
            <div class="b-relatedVideos">
                {{ include('video/_list.html.twig', {'videos': relatedVideos }) }}
            </div>
        {% endif %}

        <div class="clear"></div>

        {% if video.website.feature.isComment %}

            {{ include('comment/_list.html.twig', {'comments': video.comments}) }}

            <div class="b-commentForm">
                <form method="post" action="{{ url('commentCreate', {'extId': video.extId }) }}">
                    <textarea name="text"></textarea>
                    <input type="submit">
                </form>
            </div>

        {% endif %}

    </div>

{% endblock %}