<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link href="{{ asset('style.css') }}" rel="stylesheet" />
        <script type="text/javascript" src="//e.video-cdn.net/v2/embed.js"></script>
    </head>
    <body>
        <div class="b-head">
            <a class="e-title" href="{{ url('index') }}">{% block headTitle %}{% endblock %}</a>
        </div>
        <div class="b-menu">
            {% if menu is defined %}
                {% for menu_item in menu %}
                    {% if menu_item.type == 'channel' %}
                        <a class="e-item_left" href="{{ url('channel', { id : menu_item.channel.extId }) }}">{{ menu_item.name }}</a>
                    {% elseif menu_item.type == 'page' %}
                        <a class="e-item_left" href="{{ url('page', { id : menu_item.page.id }) }}">{{ menu_item.name }}</a>
                    {% elseif menu_item.type == 'link' %}
                        <a class="e-item_left" href="{{ menu_item.url }}">{{ menu_item.name }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <a class="e-item_rigth" href="{{ url('myfavorite') }}">MyFav</a>
            <a class="e-item_rigth" href="{{ url('userVideos') }}">MyVideo</a>
            {% if website is defined and website.feature.isUpload %}
                <a class="e-item_rigth" href="{{ url('videoCreate') }}">Upload</a>
            {% endif %}
        </div>
        <div class="b-body">
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}{% endblock %}
    </body>
</html>
