{% extends 'base.html.twig' %}
{% block headTitle %}{{ website.name }}{% endblock %}
{% block body %}

    <div class="b-mainPage">

        {{ include('video/_videoBig.html.twig') }}

        {% if video.website.feature.isRelatedVideos %}
            <div class="b-relatedVideos">
                {{ include('video/_list.html.twig', {'videos': relatedVideos }) }}
            </div>
        {% endif %}

        <div class="clear"></div>

        {{ include('channel/_list.html.twig', {'channels': channels }) }}

    </div>

{% endblock %}