{% if channels is not empty %}
    <div class="b-channels" >
        {% for channel in channels %}
            <div class="b-channel">
                <h2 class="e-channelName"><a href="{{ url('channel', {'id': channel.extId}) }}">{{ channel.name }}</a></h2>
                {{ include('video/_list.html.twig', {'videos': channel.videos.slice(0, 5), 'channel': channel }) }}
            </div>
        {% endfor %}
    </div>
{% endif %}