{% extends 'base.html.twig' %}
{% block headTitle %}{{ website.name }}{% endblock %}
{% block body %}

    <div class="b-channel">
        <h1>{{ channel.name }}</h1>

        {{ include('video/_list.html.twig', {'videos': videos, 'channel': channel }) }}

    </div>

{% endblock %}