{% extends 'base.html.twig' %}
{% block body %}


    <div class="b-channel">
        <h1>Fake Login</h1>

        <p>Superadmin: superadmin@admin, (host don't need)</p>

        <p>Admin of CT website admin@admin, host: ct.smscombat.ru </p>

        <p>Admin of CT2 website admin@admin, host: ct2.smscombat.ru</p>

        <div class="b-form">
            <form method="post" action="{{ url('app_login') }}">
                <div class="e-row"><input type="text" name="email" placeholder="email"></div>
                <div class="e-row"><input type="text" name="host" placeholder="host"></div>
                <div class="e-row"><input type="text" name="ssogroups" placeholder="ssogroups"></div>
                <div class="e-row"><input type="submit" value="submit"></div>
            </form>
        </div>

    </div>

{% endblock %}