{% extends 'base.html.twig' %}
{% block headTitle %}{{ website.name }}{% endblock %}
{% block body %}


    <div class="b-channel">
        <h1>My video</h1>

        {{ include('video/_list.html.twig', {'videos': videos, 'editable' : true }) }}
    </div>

{% endblock %}